
#kate-photo {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px; 
    width: 150px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#kate-photo:hover {
    transform: scaleX(-1);
  }


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Nunito:wght@200&family=Pacifico&display=swap');

html{
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    padding-left: 5%;
}

h1{
    font-family: "Pacifico", sans-serif;
    font-size: 3em;
    color: #323232;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 1.8em;
    font-family: Noto Sans;
    color: rgb(111, 68, 134); /* Picked by name and then adjusted using the colour pop-up */
    text-align: left;
    
}

/* style list of skills. */
#skills-list{
    list-style: decimal-leading-zero;
    list-style: decimal-leading-zero;
    color: #fff;
    text-shadow:
      0 0 7px rgb(87, 5, 202),
      0 0 10px rgb(87, 5, 202),
      0 0 21px rgb(87, 5, 202),
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff;
}

body{
    background: lightcyan;
    background-image: linear-gradient(62deg, rgb(18, 230, 177)  0%,  rgb(184, 91, 227)100%);
}

#linked-in{
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}
